RewriteEngine On    # Turn on the rewriting engine

# Cache busting for all pages
RewriteRule ^home/?$ index.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^about/?$ about.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^our-team/?$ team.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^restaurant/?$ restaurant.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^wellness/?$ wellness.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^contact/?$ contact.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^gallery/?$ gallery.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^accomodation/?$ rooms.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^valentine/?$ valentine.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^eastern/?$ eastern.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^mothersday/?$ mothersday.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^fathersday/?$ fathersday.php?cachebuster=%{TIME} [NC,L]
RewriteRule ^amenities/?$ amenities.php?cachebuster=%{TIME} [NC,L]

# Optionally, you can also apply cache busting to static assets like CSS and JS
# This is useful if you want to ensure users always get the latest version
RewriteRule ^css/(.*)\.css$ /css/$1.css?cachebuster=%{TIME} [NC,L]
RewriteRule ^js/(.*)\.js$ /js/$1.js?cachebuster=%{TIME} [NC,L]
