RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^dashboard/?$    index.php    [NC,L]
RewriteRule    ^login/?$    login.php    [NC,L]
RewriteRule    ^register/([A-Za-z0-9-]+)/?$    register.php?ref=$1    [NC,L]
RewriteRule    ^logout/?$    logout.php    [NC,L]

RewriteRule    ^profile/?$    profile.php    [NC,L]

RewriteRule    ^createportfolio/?$    add-portfolio.php    [NC,L]
RewriteRule    ^createservice/?$    add-service.php    [NC,L]
RewriteRule    ^createpackage/?$    add-package.php    [NC,L]
RewriteRule    ^createsocial/?$    add-social.php    [NC,L]
RewriteRule    ^addwhy/?$    add-why.php    [NC,L]

RewriteRule    ^editportfolio/([A-Za-z0-9-]+)/?$    editport.php?id=$1    [NC,L]
RewriteRule    ^editpackage/([A-Za-z0-9-]+)/?$    editpackage.php?id=$1    [NC,L]

RewriteRule    ^portfolio/?$    portfolio.php    [NC,L]

RewriteRule    ^sections/?$    section-title.php    [NC,L]
RewriteRule    ^services/?$    services.php    [NC,L]
RewriteRule    ^packages/?$    packages.php    [NC,L]

RewriteRule    ^createdestination/?$    add-destination.php    [NC,L]
RewriteRule    ^destinations/?$    destinations.php    [NC,L]
RewriteRule    ^editdestination/?$    editdestination.php    [NC,L]

RewriteRule    ^settings/?$    site-settings.php    [NC,L]
RewriteRule    ^social/?$    social-links.php    [NC,L]

RewriteRule    ^why/?$    why-us.php    [NC,L]
RewriteRule    ^logo/?$    updatelogo.php    [NC,L]

RewriteRule    ^createblog/?$    add-blog.php    [NC,L]
RewriteRule    ^blog/?$    bloglist.php    [NC,L]

RewriteRule    ^createslide/?$    add-slider.php    [NC,L]
RewriteRule    ^slider/?$    sliderlist.php    [NC,L]
RewriteRule    ^static/?$    static-home.php    [NC,L]
RewriteRule    ^contact/?$    updatecontact.php    [NC,L]
RewriteRule    ^editslide/?$    edit-slider.php    [NC,L]

RewriteRule    ^createpartner/?$    add-partner.php    [NC,L]
RewriteRule    ^partners/?$    partnerlist.php    [NC,L]
RewriteRule    ^about-page/?$    about-page.php    [NC,L]

RewriteRule    ^createstatistics/?$    add-statistics.php    [NC,L]
RewriteRule    ^statistics/?$    statisticslist.php    [NC,L]

RewriteRule    ^team/?$    teamlist.php    [NC,L]
RewriteRule    ^newteam/?$    add-team.php    [NC,L]
RewriteRule    ^editteam/?$    edit-team.php    [NC,L]
RewriteRule    ^page-home/?$   page-home.php    [NC,L]
RewriteRule    ^page-about/?$   page-about.php    [NC,L]
RewriteRule    ^bookings/?$   bookings.php    [NC,L]
